@import "tailwindcss";
 @plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  themes: light --default;
 }

/* globals.css */
:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-rubik: 'Rubik', sans-serif;
}
@theme{
  --color-gradient:radial-gradient(125% 125% at 50% 100%, #000000 40%, #350136 100%)
}
.poppins {
  font-family: var(--font-poppins);
}

.rubik{
  font-family: var(--font-rubik);
}

body{
  font-family: var(--font-poppins);
   
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  
  animation: slideDown 3s ease-out forwards; 

  z-index: 999;
  color: white !important;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}


