@import "tailwindcss";
 @plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  themes: light --default;
 }

/* globals.css */
:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-rubik: 'Rubik', sans-serif;
}

.poppins {
  font-family: var(--font-poppins);
}

.rubik{
  font-family: var(--font-rubik);
}

body{
  font-family: var(--font-poppins);
}